
body {
    font-family: 'Montserrat';
    color: black;
}

h1 {
    font-family: 'Montserrat-black', 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
h2 {
    font-family: 'Montserrat-black', 'Montserrat';
    font-size: 3rem;
    line-height:1.5;
}
h3 {
    font-family: 'Montserrat';
     font-weight: bold;

}
#title {
    background-color: #f0c929;
}
.container-fluid {
    padding: 3% 15% 7%;
}
a {
    color: black;
    font-family: 'Ubuntu';
}

.btn {
    font-family: 'Montserrat';
    
}
/* Navigation bar */
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.navbar {
    padding-bottom: 4.5rem;
} 
.nav-item {
    margin: 0% 0% 0% 5%;
    
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: white;
}

/* Donwload buttom */
.download-buttom {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
    width: 60%;
    position: relative;
    left: 40%;
    position: absolute;
}
/* feature box */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.dog-profile {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.icon {
    color:#f0c929;
    margin-bottom: 1rem;
}
.icon:hover {
    color: coral;
}
#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color:#f0c929 ;
    color: white;
}
#press {
    background-color:#f0c929 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 30px;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color:#f0c929 ;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;

}
#footer {
    font-family: "Montserrat";
    padding: 3% 10%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}
    
}
@media(max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}